cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.9
cryptography==36.0.0
cssselect==1.1.0
cssutils==2.3.0
dbus-next==0.2.3
idna==3.3
imbox==0.9.8
importlib-metadata==4.8.2
jeepney==0.7.1
keyring==23.4.0
lxml==4.7.1
premailer==3.10.0
pycparser==2.21
requests==2.26.0
SecretStorage==3.3.1
urllib3==1.26.7
yagmail==0.14.260
zipp==3.6.0
